 .loginForm {
    width: 22vw;
    margin: 0 auto;
    // border: 1px solid cyan;
}
.loginFormForgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.loginFormButton {
    width: 22vw;
}
