#loginPage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // background-color:cyan;
    // background-image: url("https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png");
    background-repeat: no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
}

#font{
    width: 450px;
    height: 50px;
    transform: translate(35px, -50px)
}