#content {
    height: 70vh;
    width: 55vw;
    overflow: inherit;
    padding: 20px;
    margin-bottom: 5vh;
}

.progress {
    width: 40vw;
    margin-bottom: 5vh;
}

.title {
    text-align: center;
}

.TextArea {
    width: 20vw;
}
